/*********************All/General*********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
 font-family: "Poppins", sans-serif;
 background:linear-gradient(
    to bottom,
    #03002e,
    #0f0e2d,
    #18172b,
    #21202a,
    #282828
  );
 
}
html
{
    scroll-behavior: smooth;
}
/*********SIDEBAR**********/
/* Sidebar styles */
.sidebar {
    width: 550px;
    height: 100vh;
    background-color: transparent;
    color: #ffffff;
    position: fixed;
    top: 0;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
}

.sidebar .logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
  
}
.nav-links {
    padding: 0;
    margin: 0;
    width: 100%;
    column-gap: 20px;
    list-style: none;
    text-align: left;
}

.nav-links li {
    width: 100%;
}

.nav-links a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
}
.nav{
    transition: all 0.3s ease-in-out;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    font-size: 1.35rem;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}
/****************navlinks hover*****************/
.nav-links .active{
    color: rgb(17, 184, 206);
    font-size: 1.35rem;
}
.sidebar .qtext {
    color: #ffffff;
    font-size: 2.2rem;
    margin-top: 10px;}
.sidebar .qtext .gradient-colors{
    background: linear-gradient(
    90deg,
    hsl(240deg 100% 20%) 0%,
    hsl(224deg 100% 30%) 14%,
    hsl(221deg 100% 38%) 29%,
    hsl(221deg 100% 44%) 43%,
    hsl(220deg 100% 50%) 57%,
    hsl(213deg 99% 56%) 68%,
    hsl(205deg 97% 58%) 78%,
    hsl(197deg 96% 60%) 85%,
    hsl(190deg 94% 61%) 91%,
    hsl(190deg 94% 68%) 95%,
    hsl(189deg 95% 73%) 97%,
    hsl(187deg 96% 77%) 99%,
    hsl(185deg 98% 81%) 100%);
     -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**************ICONS********************/
.social-container{
    margin-top: 2rem;
    gap: 9rem;
    align-items: left;
}
.icon{
    cursor: pointer;
    height:  2.5rem;
    background-color: white;
    gap: 1rem;
    border-radius: 50%;
      align-items: left;
}

/*************MAIN CONTENT***************/
.content {
    margin-left: 600px;
   width: auto;
    background: transparent;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 7rem;
    height: auto;
     overflow: auto
}
.content p{
    text-align: justify;
    margin: auto;

}
/**************ABOUT SECTION*********************/
.about-section-container .text-container{
    margin-top: 2rem;
}
.text-container p{
  color: rgb(161, 156, 156);
  margin: 0 5rem;
}
.text-container b{
    color: rgb(255, 255, 255);
}
/***************CONTACT SECTION******************/
.section form{
    width: 650px;
    text-align: left;
    margin-top: 3rem;
}
.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 1px solid rgb(185, 180, 180);
    border-radius: 5px;
    font-size: 16px;
    margin: 12px 0;
}
form .input-box{
    display: flex;
    justify-content: space-between;
}
form .textarea-field .item{
    resize: vertical;
}
form button
{
    padding: 12px 32px;
    background: rgb(17, 184, 206);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #0ef;
    width: 100%;
    cursor: pointer;
}
form button:hover{
    box-shadow: none;
}
/**************SECTION**************************/

.section{
    display: flex;
    flex-direction: column; /* Title will appear after content */
    position: relative;
    min-height: 80vh;
    margin: 5vh;
}
.section-container{
    display: flex;
}
.section_text{
    align-self: center;
   
}
.section_text p{
    font-weight: 600;
}
.section_text_p1{
    text-align: center;
    font-size: 1.5rem;
}
.title_header a{
    
    display: inline-block;
    position: relative;
    font-size: 1rem;
    text-decoration: none;
}
.title_header a::after{
    content: '';
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.title_header a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  
}
/**************TECH SECTION******************/

.tech-container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 100px;
    align-items: center;
    justify-items: center;
  }
  .tech-item img{
      height: 60px;
      width: 60px;
  }
.tech-container p {
    text-align: center;
    align-items: center;
}
/**************PROJECT SECTION******************/
.project-container{
  margin-top: 3rem;
}
.project-container p{
    text-align: center;
    color: rgb(161, 156, 156);
    margin: 1rem;;
}
.project-container a{
   text-align: center;
   font-size: small;
}
.project-container b{
    color: rgb(255, 255, 255);
}
.link-project{
    margin-top: 1rem;    
    align-items: center;     
    gap: 0.5rem;                   
}
.project-container .link-project img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 0.3rem;      
    vertical-align: middle;        
}
.project-container .link-project a {
    margin-right: 1.5rem;
    font-size: small;
}
.project-container:hover{
    background-color: rgba(255, 255, 255, 0.06);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	border-radius: 8px;
    transition: all 0.3s ease-in-out;
    min-height: auto;
    
}
/******************************footer*****************************/
.footer
{
    color: #ffffff;
    font-size: 0.8rem;
    text-align: left;
    margin-top: 2rem;
}