/*********************All/General*********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
 font-family: "Poppins", sans-serif;
 background:linear-gradient(
    to bottom,
    #03002e,
    #0f0e2d,
    #18172b,
    #21202a,
    #282828
  );
 
}
html
{
    scroll-behavior: smooth;
}

.sidebar {
    width: 550px;
    height: 100vh;
    background-color: transparent;
    color: #ffffff;
    position: fixed;
    top: 0;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
}

.sidebar .logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
  
}

.nav-links {
    padding: 0;
    margin: 0;
    width: 100%;
    column-gap: 20px;
    list-style: none;
    text-align: left;
}

.nav-links li {
    width: 100%;
}

.nav-links a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
}
.nav{
    transition: all 0.3s ease-in-out;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    font-size: 1.35rem;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}
/****************navlinks hover*****************/
.nav-links .active{
    color: rgb(17, 184, 206);
    font-size: 1.35rem;
}
.sidebar .qtext {
    color: #ffffff;
    font-size: 2.2rem;
    margin-top: 10px;}

/**************ICONS********************/
.social-container{
    margin-top: 2rem;
    gap: 9rem;
    align-items: left;
}
.icon{
    cursor: pointer;
    height:  2.5rem;
    background-color: white;
    gap: 1rem;
    border-radius: 50%;
      align-items: left;
}

/*************MAIN CONTENT***************/
.content {
    margin-left: 600px;
   width: auto;
    background: transparent;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 7rem;
}
.content p{
    text-align: justify;
    margin: auto;

}
/**************ABOUT SECTION*********************/
.about-section-container .text-container{
    margin-top: 2rem;
}
.text-container p{
  color: rgb(161, 156, 156);
  margin: auto;
}
.text-container b{
    color: rgb(255, 255, 255);
}
/***************CONTACT SECTION******************/
.section form{
    width: 650px;
    text-align: left;
    margin-top: 3rem;
}
.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 1px solid rgb(185, 180, 180);
    border-radius: 5px;
    font-size: 16px;
    margin: 12px 0;
}
form .input-box{
    display: flex;
    justify-content: space-between;
}
form .textarea-field .item{
    resize: vertical;
}
form button
{
    padding: 12px 32px;
    background: rgb(17, 184, 206);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #0ef;
    width: 100%;
    cursor: pointer;
}
form button:hover{
    box-shadow: none;
}
/**************SECTION**************************/

.section{
    display: flex;
    position: relative;
    min-height: 80vh;
    height: auto;
    margin: 5vh;
}
.section-container{
    display: flex;
}
.section_text{
    align-self: center;
   
}
.section_text p{
    font-weight: 600;
}
.section_text_p1{
    text-align: center;
    font-size: 1.5rem;
}
/**************TECH SECTION******************/

.tech-container{
    display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 100px;
    align-items: center;
    justify-items: center;
  }
  .tech-item img{
      height: 60px;
      width: 60px;
  }
.tech-container p {
    text-align: center;
    align-items: center;
}
/**************PROJECT SECTION******************/
.project-container{
  margin-top: 3rem;
}
.project-container p{
    text-align: center;
    color: rgb(161, 156, 156);
    margin: auto;
}
.project-container a{
   text-align: center;
   font-size: small;
}
.project-container b{
    color: rgb(255, 255, 255);
}
.link-project{
    margin-top: 1rem;
    display: flex;      
    flex-direction: row;     
    align-items: center;     
    gap: 0.5rem;             
    flex-wrap: wrap;         
}
.project-container .link-project img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 0.3rem;    
    float: none;             
    display: inline-block;   
    vertical-align: middle;  
}
.project-container .link-project a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;    /* Space between different icon-link pairs */
    font-size: small;
}
/******************************footer*****************************/
.footer
{
    color: #ffffff;
    font-size: 0.8rem;
    text-align: left;
    margin-top: 2rem;
}